h1 {
     color: darkgreen;
     text-align: center;
     font-family: "Lucida Console", Monaco, monospace;
 }

thead {
    color: cornflowerblue;
    text-align: center;
    font-size: large;
    font-family: "Trebuchet MS", Helvetica, Sans-serif;
}

table {
    table-layout: auto;
}

td.button{
    font-family: "Lucida Console", Monaco;
}

tbody{
    font-family: "Trebuchet MS", Helvetica, Sans-serif;
    text-align: justify;
    padding: 5px;
}

td.left{
    float: left;
}

td.right{
    float: right;
}

th.rotate {
    /* Something you can count on */
    height: 140px;
    white-space: nowrap;
}

th.rotate > div {
    transform:
        /* Magic Numbers */
            translate(25px, 51px)
                /* 45 is really 360 - 45 */
            rotate(315deg);
    width: 30px;
}
th.rotate > div > span {
    border-bottom: 1px solid #ccc;
    padding: 5px 10px;
}